<div class="header topbar">
  <div class="inner">
    <div class="logo">
      <FaIcon @icon="blog" @prefix="fas" />
      <p>Definitely Real Company</p>
    </div>
    <div class="userControls">
      <div class="userBox"><FaIcon @icon="user" /> Jacques Louw</div>
      <div class="logout"><FaIcon @icon="sign-out-alt" /> Sign Out</div>
    </div>
  </div>
</div>