<div class="sidebar">
    <LinkTo @route="main" class="navItem"><FaIcon @icon="home"></FaIcon> Home</LinkTo>
    <LinkTo @route="grid" class="navItem"><FaIcon @icon="chart-bar"></FaIcon> Grid</LinkTo>
    <LinkTo @route="settings" class="navItem"><FaIcon @icon="cog"></FaIcon>   Settings</LinkTo>
</div>