<h1>Skeleton Testing</h1>

{{#ember-skeleton/material-card
  materialCardHoverEffect=true
  borderColorProp=someProp
  depth=2
  themeColorStringHash=(hash
    ok="success"
  )
}}
  <p>Testing Material Card</p>
{{/ember-skeleton/material-card}}

<p>{{ember-skeleton/humanise-string "Action_required"}}</p>


{{outlet}}